@keyframes wheelHueColor {
  from, to {
    color: hsl(324, 70%, 45%);
  }
  10% {
    color: hsl(0, 88%, 65%);
  }
  20% {
    color: hsl(36, 80%, 45%);
  }
  30% {
    color: hsl(72, 75%, 35%);
  }
  40% {
    color: hsl(108, 65%, 35%);
  }
  50% {
    color: hsl(144, 75%, 35%);
  }
  60% {
    color: hsl(180, 75%, 35%);
  }
  70% {
    color: hsl(216, 60%, 45%);
  }
  80% {
    color: hsl(252, 65%, 50%);
  }
  90% {
    color: hsl(288, 60%, 40%);
  }
}
body {
  background-color: #1f2926;
  min-width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  color: hsl(180, 75%, 35%);
  animation: wheelHueColor 15s infinite;
}

a {
  color: #0e3a69;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}
a:hover {
  color: #00bdd0;
  font-size: 1.3rem;
  transition: 0.6s;
}
a:not(:hover) {
  transition: 0.6s;
}

footer {
  color: #f5f5dc;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}
footer a {
  font-size: 1.6rem;
  color: #f5f5dc;
}
footer a:hover {
  color: #00bdd0;
  font-size: 1.8rem;
  transition: 0.6s;
}
footer a:not(:hover) {
  transition: 0.6s;
}

.card {
  position: relative;
  width: 250px;
  height: 375px;
  margin: 20px;
  perspective: 1000px;
}
.card__front, .card__back {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 6px solid;
  border-radius: 20px;
  padding: 6px;
  backface-visibility: hidden;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card__front {
  background-image: url("/style/image/fond-lignes-dynamiques-degradees_23-2149011966.jpg");
  background-size: cover;
  border-color: #f5f5dc;
}
.card__front.flip {
  transform: rotateY(180deg);
}
.card__front-title {
  color: #0e3a69;
  font-size: 1.4rem;
  text-align: center;
  align-content: center;
  margin: 40% auto;
  width: 170px;
  height: 170px;
  background-color: #f5f5dc;
  background: radial-gradient(circle, #f5f5dc 50%, rgba(21, 159, 194, 0) 70%);
  border-radius: 50%;
}
.card__front-title:hover {
  font-size: 1.7rem;
  text-wrap: nowrap;
  transition: 0.4s;
}
.card__front-title:not(:hover) {
  transition: 0.4s;
}
.card__back {
  color: #0e3a69;
  background-color: #f5f5dc;
  border-color: #00bdd0;
  align-content: space-around;
}
.card__back.flip {
  transform: rotateY(-180deg);
}
.card__back-image {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin: 4px 0px 0px 30px;
}
.card__back-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #0e3a69;
  margin-top: 0px;
}
.card__back-subtitle {
  font-size: 14px;
  color: #0e3a69;
  margin: 6px 0px 3px 4px;
}
.card__back-content {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  color: #0e3a69;
  font-size: 14px;
  margin: 4px 6px 0px 6px;
}
.card__back-content img {
  height: 40px;
  margin: auto 65%;
}
.card__back-content a {
  font-size: 15px;
  font-weight: normal;
  margin: 8px 6px 4px 6px;
}
.card__back-content a:hover {
  color: #00bdd0;
  font-size: 17px;
  transition: 0.6s;
}
.card__back-content a:not(:hover) {
  transition: 0.6s;
}
.card__back-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  margin: 0px 0px 0px 6px;
}
.card__back-item img {
  width: 12%;
  max-height: 35px;
  margin: 4px 8px 0px 0px;
}
.card__back-item a {
  font-size: 14px;
  font-weight: normal;
  margin: 0px 0px 0px 6px;
}
.card__back .fa-solid,
.card__back .fa-brands,
.card__back .fas {
  align-self: center;
  color: #0e3a69;
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 6px 2px 0px 2px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  .card {
    width: 275px;
    height: 450px;
  }
  .card__front-title {
    font-size: 1.8rem;
    font-weight: bold;
    width: 210px;
    height: 210px;
  }
  .card__front-title:hover {
    font-size: 2.3rem;
  }
  .card__back-title {
    font-size: 22px;
  }
  .card__back-subtitle {
    font-size: 18px;
    margin-top: 18px;
  }
  .card__back-content {
    font-size: 16px;
  }
  .card__back-content a {
    font-size: 17px;
    margin: 12px 6px 4px 10px;
  }
  .card__back-image {
    width: 95px;
    height: 95px;
  }
  .card__back-item {
    font-size: 15px;
    margin-top: 6px;
  }
  .card__back-item img {
    max-height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.7rem;
  }
  .card {
    width: 310px;
    height: 490px;
  }
  .card__front-title {
    margin-top: 35%;
    width: 240px;
    height: 240px;
  }
  .card__back-title {
    font-size: 24px;
  }
  .card__back-content {
    font-size: 17px;
  }
  .card__back-content a {
    font-size: 20px;
    margin: 18px 6px 4px 14px;
  }
  .card__back-content a:hover {
    font-size: 22px;
    transition: 0.6s;
  }
  .card__back-content a:not(:hover) {
    transition: 0.6s;
  }
  .card__back-content .fa-solid,
  .card__back-content .fa-brands,
  .card__back-content .fas {
    font-size: 22px;
  }
  .card__back-content img {
    margin: auto 80%;
  }
  .card__back-item {
    font-size: 16px;
    margin-top: 15px;
  }
  .card__back-item img {
    width: 10%;
    margin-right: 10px;
  }
  .card__back-item a {
    font-size: 18px;
    margin: 0px 0px 0px 10px;
  }
  .card__back-item a:hover {
    font-size: 20px;
    transition: 0.6s;
  }
  .card__back-item a:not(:hover) {
    transition: 0.6s;
  }
  footer {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=style.css.map */