// Définition des variables de couleur
$blue-color: #0e3a69;
$beige-color: #f5f5dc;
$blue-light-color: #00bdd0;
$grey-color: #1f2926;

@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(0, 88%, 65%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}

body {
  background-color: $grey-color;
  min-width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  color: hsl(180, 75%, 35%);
  animation: wheelHueColor 15s infinite;
}

a{
  color: $blue-color;
  text-decoration:none;
  font-size: 1.1rem;
  font-weight: bold;
   
  &:hover {
    color: $blue-light-color;
    font-size: 1.3rem;
    transition: 0.6s;
  }
  &:not(:hover){
    transition: 0.6s;
  }
}

footer{
  color: $beige-color;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  & a {
    font-size: 1.6rem;
    color: $beige-color;
    &:hover {
      color: $blue-light-color;
      font-size: 1.8rem;
      transition: 0.6s;
    }
    &:not(:hover){
      transition: 0.6s;
    }
  }
}

// Styles pour la carte
.card {
  position: relative;  
  width: 250px;
  height: 375px;  
  margin: 20px;  
  perspective: 1000px;
  
    &__front, &__back {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 6px solid;
      border-radius: 20px;
      padding: 6px;      
      backface-visibility: hidden;    
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    &__front {
      background-image: url('/style/image/fond-lignes-dynamiques-degradees_23-2149011966.jpg');
      background-size: cover;
      border-color: $beige-color;
      
      //animation du front
      &.flip {
        transform: rotateY(180deg);
      } 
      
      //Titre du front
      &-title {
        color: $blue-color;
        font-size: 1.4rem;        
        text-align: center;
        align-content: center;  
        margin: 40% auto;
        width: 170px; 
        height: 170px; 
        background-color: $beige-color;
        background: radial-gradient(circle, $beige-color 50%, rgba(21, 159, 194, 0) 70%);
        border-radius: 50%;
        
        &:hover {
          font-size: 1.7rem;
          text-wrap:nowrap;
          transition: 0.4s;          
        }
        &:not(:hover){
          transition: 0.4s;
        }        
      }
    }
    
    // Back de la carte
    &__back {     
      color: $blue-color;
      background-color: $beige-color;
      border-color: $blue-light-color;
      align-content:space-around;
      
      //Animation du back
        &.flip {   
          transform: rotateY(-180deg);
        }
          
        &-image {
          width: 75px;
          height: 75px;
          border-radius: 20px;
          margin: 4px 0px 0px 30px;
          opacity: 0.8;
        }

        // Titres du back
        &-title {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: $blue-color;
          margin: 4px 0px 10 0px; 
        }
        
        &-subtitle {
          font-size: 14px;
          color: $blue-color;
          margin: 6px 0px 3px 4px;
        }
        
        // Contenu du back
        &-content {
          display:flex;
          flex-wrap: wrap;
          text-align: justify;
          align-items: center;
          color: $blue-color;
          font-size: 14px;
          margin: 4px 6px 0px 6px;

          & img {
          height: 40px;
          margin: auto 65%;            
          }

          & a {        
            font-size: 15px;
            font-weight:normal;
            margin: 8px 6px 4px 6px;
            
            &:hover {
              color: $blue-light-color;
              font-size: 17px;
              transition: 0.6s;
            }
            &:not(:hover){
              transition: 0.6s;
            }
          }
        }

        &-item {
          display: flex; 
          flex-direction: row;
          align-items: center;
          font-size: 13px;
          font-weight: bold;
          margin: 0px 0px 0px 6px;
          
          & img {
            width: 12%;
            max-height: 35px;
            margin: 4px 8px 0px 0px;
          }

          & a {
            font-size: 14px;
            font-weight: normal;
            margin: 0px 0px 0px 6px;
          }
        }

        & .fa-solid, .fa-brands, .fas {
          align-self:center;
          color: $blue-color;
          font-size: 18px;
          width: 18px;
          height: 18px;
          margin: 6px 2px 0px 2px;          
        }
    }
}

@media screen and (min-width: 768px) {
  
  h1{
    font-size: 2.2rem;
  }

  .card {     
    width: 275px;
    height: 450px; 

    &__front-title {    
    font-size: 1.8rem;
    font-weight: bold;
    width: 210px;
    height: 210px;

      &:hover {
        font-size: 2.3rem;      
      }
    }

    &__back{

      &-title {
        font-size: 22px;
      }

      &-subtitle {
        font-size: 18px;
        margin-top: 18px;
      }

      &-content {
        font-size: 16px;
      
        & a {
          font-size: 17px;
          margin: 12px 6px 4px 10px;   
        }
      }

      &-image {
        width: 95px;
        height: 95px;
      }

      &-item {
        font-size: 15px;
        margin-top: 6px;

        & img{
          max-height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px){
 
  h1{
    font-size: 2.7rem;
  }

  .card {     
    width: 310px;
    height: 490px; 

    &__front-title {    
      margin-top: 35%;
      width: 240px;
      height: 240px;
    }

    &__back{
      &-title {
        font-size: 24px;
      }
      
      &-content {
        font-size: 17px;
    
        & a {
          font-size: 20px;
          margin: 18px 6px 4px 14px;   
        }
        &:hover{
          font-size: 22px;
          transition: 0.6s;
        }
        &:not(:hover){
          transition: 0.6s;
        }

        & .fa-solid, .fa-brands, .fas {
          font-size: 22px;
        }

        & img {
          margin: auto 80%;
        }
      }
      
      &-item {
        font-size: 16px;
        margin-top: 15px;
        & img {
          width: 10%;
          margin-right: 10px;
        }
        & a {
          font-size: 18px;
          margin: 0px 0px 0px 10px;
        }
        &:hover{
          font-size: 20px;
          transition: 0.6s;
        }
        &:not(:hover){
          transition: 0.6s;
        }
        
      }
    }
  }
}
